* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  color: var(--text);
  background: var(--body);
  @include -font(body);
}

div,
header,
main,
article,
figure,
figcaption,
iframe,
address {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
  outline: none;
}

img {
  display: block;
}

svg {
  fill: var(--text);
  transition: fill 100ms;
}

td,
th,
address {
  font-style: normal;
  & > span,
  & > strong,
  & > em {
    display: block;
  }
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  background: var(--border);
  margin: space(medium) 0;
  border: none;
  overflow: hidden;
}

canvas {
  box-shadow: 0 0 0 1px var(--border);
}